<div class="alert alert-danger card m-5" role="alert">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'catalog:index' %}"><img src="/media/navbar/главная.png" alt="Logo"></a>
            <a class="navbar-brand" href="{% url 'catalog:product_list' %}"><img src="/media/navbar/brakes.png" alt="Logo"></a>
            <a class="navbar-brand" href="#"><img src="/media/navbar/диски.png" alt="Logo"></a>
            <a class="navbar-brand" href="#"><img src="/media/navbar/тормозные_колодки.png" alt="Logo"></a>
            <a class="navbar-brand" href="#"><img src="/media/navbar/наши_работы.png" alt="Logo"></a>
            <a class="navbar-brand" href="{% url 'catalog:contacts' %}"><img src="/media/navbar/контакты.png" alt="Logo"></a>
        </div>
    </nav>
</div>

