{% extends 'catalog/base.html' %}

{% block card %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        Уверены, что хотите удалить статью <h4>"{{ object }}"?</h4><br>
                        <input type="submit" class="btn btn-outline-danger" value="Уверен">
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'catalog:blog_list' %}" class="btn btn-white btn-secondary btn-lg"> Назад </a>
                </button>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

